<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>EMail</th>
      <th>Rolle</th>
      <th>Status</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>
        <a
          class="btn btn-outline-secondary"
          routerLink="/user/modify/{{ user.id }}"
          >ändern</a
        >
      </td>
    </tr>
  </tbody>
</table>
<tch-show-error
  [httpError]="httpError"
  [errorMessages]="errorMessages"
></tch-show-error>
<a class="btn btn-primary" routerLink="/user/add">Benutzer anlegen</a>
<button class="btn btn-outline-dark" (click)="cancel()">Zurück</button>
