<div class="container">
    <form *ngIf="form" [formGroup]="form" class="form-horizontal">
        <!-- id -->
        <div class="form-group mb-3">
            <label class="control-label">Id:</label>
            <input type="text" class="form-control" formControlName="id" />
        </div>

        <!-- name -->
        <div class="form-group mb-3">
            <label class="control-label">Name:</label>
            <input type="text" class="form-control" formControlName="name" />
        </div>

        <!-- maxReservation -->
        <div class="form-group mb-3">
            <label class="control-label">im Voraus buchbar:</label>
            <select class="form-control" formControlName="maxDaysReservationInFuture">
                <option *ngFor="let md of maxDays" [value]="md">{{ md }} Tage</option>
            </select>
        </div>

        <!-- max Cancel-->
        <div class="form-group mb-3">
            <label class="control-label">im Voraus stornierbar:</label>
            <select class="form-control" formControlName="maxCancelInHours">
                <option *ngFor="let mc of maxCancel" [value]="mc">{{ mc }} Stunden</option>
            </select>
        </div>

        <!-- maxDuration -->
        <div class="form-group mb-3">
            <label class="control-label">maximale Buchungsdauer:</label>
            <select class="form-control" formControlName="maxDuration">
                <option *ngFor="let md of maxDurations" [value]="md">
                    {{ md }}
                </option>
            </select>
        </div>

        <!-- repeatable -->
        <div class="form-group mb-3">
            <input type="checkbox" class="form-check-input" formControlName="repeatable">
            <span class="ms-2 me-4">Wiederholungen erlaubt:</span>
        </div>

        <!-- public visible -->
        <div class="form-group mb-3">
            <input type="checkbox" class="form-check-input" formControlName="publicVisible">
            <span class="ms-2 me-4">Text öffentlich sichtbar</span>
        </div>

        <!-- roles-->
        <div class="form-group mb-3">
            <label class="control-label h3">Buchung erlaubt von:</label>
            <div class="d-flex flex-row flex-wrap">
                <div *ngFor="let roleForm of form.controls.roles.controls; index as i">
                    <input type="checkbox" class="form-check-input" [formControl]="roleForm">
                    <span class="ms-2 me-4">{{ userRoleNames[i] }}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button (click)="onSubmit()" class="btn btn-primary">Reservierungsart übernehmen</button>
            <button (click)="onCancel()" class="btn btn-outline-secondary ms-1">Zurück</button>
        </div>
    </form>
</div>