<div class="container">
  <!-- title -->
  <h2>Systemkonfiguration ändern</h2>

  <form [formGroup]="form">
    <div class="row g-3 mb-3">
      <!-- id -->
      <div class="col-3 col-sm-2">
        <label class="form-label">Id:</label>
        <input type="text" class="form-control" [class.is-invalid]="fieldErrors?.has('id')" formControlName="id" />
        <tch-field-error [fieldErrors]="fieldErrors" field="id" />
      </div>

      <!-- name -->
      <div class="col-9 col-sm-5">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" [class.is-invalid]="fieldErrors?.has('name')" formControlName="name" />
        <tch-field-error [fieldErrors]="fieldErrors" field="name" />
      </div>

      <!-- title -->
      <div class="col-12 col-sm-5">
        <label class="form-label">Titel:</label>
        <input type="text" class="form-control" [class.is-invalid]="fieldErrors?.has('title')"
          formControlName="title" />
        <tch-field-error [fieldErrors]="fieldErrors" field="title" />
      </div>
    </div>

    <div class="row g-3 mb-3">
      <!-- durationUnit -->
      <div class="col-12 col-sm-4">
        <label class="form-label">Buchungseinheit:</label>
        <select class="form-control" formControlName="durationUnitInMinutes">
          <option *ngFor="let du of durationUnits" [value]="du">
            {{ du }} Minuten
          </option>
        </select>
      </div>

      <!-- openingHour -->
      <div class="col-6 col-sm-4">
        <label class="form-label">Buchbar von :</label>
        <select class="form-control" [class.is-invalid]="fieldErrors?.has('openingHour')" formControlName="openingHour">
          <option *ngFor="let oh of openingHours" [value]="oh">
            {{ oh }} Uhr
          </option>
        </select>
        <tch-field-error [fieldErrors]="fieldErrors" field="openingHour" />
      </div>

      <!-- closingHour -->
      <div class="col-6 col-sm-4">
        <label class="form-label">Buchbar bis :</label>
        <select class="form-control" [class.is-invalid]="fieldErrors?.has('closingHour')" formControlName="closingHour">
          <option *ngFor="let ch of closingHours" [value]="ch">
            {{ ch }} Uhr
          </option>
        </select>
        <tch-field-error [fieldErrors]="fieldErrors" field="closingHour" />
      </div>
    </div>

    <!-- courts -->
    <h4 class="mt-4">Plätze:</h4>
    <div *ngFor="let court of courts.controls; let i = index" class="d-flex gap-3 mb-3">
      <input class="form-control" type="text" [formControl]="court" />
      <button class="btn btn-outline-secondary" (click)="removeCourt(i)">
        -
      </button>
    </div>
    <button type="button" class="btn btn-outline-secondary mb-3" (click)="addCourt()">
      +
    </button>

    <!-- reservation types -->
    <tch-reservation-types formGroupName="types"></tch-reservation-types>

    <!-- error -->
    <div class="form-group mb-3">
      <div class="col-sm-offset-2 col-sm-10">
        <tch-show-error [httpError]="httpError" [errorMessages]="errorMessages" [fieldErrors]="fieldErrors">
        </tch-show-error>
      </div>
    </div>

    <!-- Buttons -->
    <button (click)="onSubmit()" class="btn btn-primary m-1"> Systemkonfiguration ändern </button>
    <button (click)="onDelete()" class="btn btn-outline-secondary m-1"> Löschen </button>
    <button (click)="onCancel()" class="btn btn-outline-secondary m-1"> Zurück </button>
  </form>
</div>