<div class='container'>
	<form class="form-horizontal">

		<!-- title -->
		<div class="form-group">
			<h2 class="col-sm-offset-2 col-sm-10">Reservierung anlegen</h2>
		</div>

		<!-- Date and Time -->
		<div class='form-group'>
			<label class="col-sm-2 control-label">Zeit:</label>
			<div class="row col-sm-10">
				<div class="col-sm-6">
					<input type="text" name="date" class="form-control" [value]="getDate()"
                 size='8' readonly [appAutofocus]='(focus ==="date" )'>
				</div>
				<div class="col-sm-6">
					<select class="form-control" id="time" [(ngModel)]="time" name="time">
            <option *ngFor='let t of getTimes()' [value] = 't'>{{duration(t)}}</option>
          </select>
				</div>
			</div>
		</div>

		<!-- court -->
		<div class='form-group'>
			<label class="col-sm-2 control-label">Platz:</label>
			<div class="row col-sm-10">
				<div class="col-sm-4">
					<select class='form-control' id='court' [(ngModel)]="reservation.courts" name="court">
            <option *ngFor='let court of systemConfig.getCourtsArray()' [value] = 'court'>{{court}}</option>
          </select>
				</div>
			</div>
		</div>

		<!-- occupation type -->
		<div *ngIf='showType' class='form-group'>
			<label class="col-sm-2 control-label">Typ:</label>
			<div class="col-sm-10">
				<select class='form-control' id='type' [(ngModel)]="type" name="type">
          <option *ngFor='let type of types' [value] = 'type'>{{type}}</option>
        </select>
			</div>
		</div>

		<!-- occupation text -->
		<div *ngIf='showText' class="form-group">
			<label class="col-sm-2 control-label">Text:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [(ngModel)]="reservation.text" name='text'
               required [appAutofocus]='( focus === "text" )'>
			</div>
		</div>

		<!-- duration -->
		<div *ngIf='showDuration' class="form-group">
			<label class="col-sm-2 control-label">Dauer:</label>
			<div class="row col-sm-10">
				<div class="col-sm-4">
					<input type="text" class="form-control" [(ngModel)]="reservation.duration" name='duration'
                 size="1" [appAutofocus]='( focus === "duration" )'>
				</div>
				<div class="col-sm-8">
					mal {{systemConfig.durationUnitInMinutes}} Minuten
				</div>
			</div>
		</div>

		<!-- simple duration as select list -->
		<div *ngIf='!showDuration' class="form-group">
			<label class="col-sm-2 control-label">Dauer:</label>
      <div class="row col-sm-10">
			  <div class="col-sm-12 radio">
				  <label>
            <input type="radio" name="duration" (change)="onDurationChanged(2)" checked
                   [appAutofocus] = '( focus === "duration" )'>
            Einzel (60 Minuten)
          </label>
			  </div>
			  <div class="col-sm-12 radio">
				  <label>
            <input type="radio" name="duration" (change)="onDurationChanged(3)">
            Doppel (90 Minuten)
          </label>
			  </div>
      </div>
	  </div>

		<!-- duration repeat -->
		<!--  not working yet
		<div *ngIf='showRepeat' class="form-group">
			<label class="col-sm-2 control-label">Wiederholung bis:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [(ngModel)]="repeat" name='repeat'>
			</div>
		</div>
		-->

		<!-- error -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				{{error}}
			</div>
		</div>

		<!-- Buttons -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button (click)='onClick()' class="btn btn-lg btn-block btn-primary">Reservieren</button>
				<button (click)='onBack()' class="btn btn-lg btn-block">Zurück</button>
			</div>
		</div>
	</form>
</div>
