<div class="container">
  <form class="form-horizontal" novalidate="">
    <!-- title -->
    <div class="form-group mb-3">
      <h2 class="col-sm-offset-2 col-sm-10">
        Reservierung anlegen
      </h2>
    </div>

    <!-- Date and Time -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Zeit:</label>
      <div class="row col-sm-10">
        <div class="col-6">
          <input type="text"
                 name="date"
                 class="form-control"
                 [class.is-invalid]="fieldErrors?.has('date')"
                 size="8"
                 readonly
                 [value]="getDate()"/>
          <tch-field-error [fieldErrors]="fieldErrors" field="date"/>
        </div>
        <div class="col-6">
          <select name="time"
                  id="time"
                  class="form-control"
                  [class.is-invalid]="fieldErrors?.has('start')"
                  [(ngModel)]="time">
            @for (time of getTimes(); track time) {
              <option [value]="time">
                {{ showTime(time) }}
              </option>
            }
          </select>
          <tch-field-error [fieldErrors]="fieldErrors" field="start"/>
        </div>
      </div>
    </div>

    <!-- court -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Platz:</label>
      <div class="row col-sm-10">
        <div class="col-sm-4">
          <select class="form-control"
                  name="court"
                  id="court"
                  [class.is-invalid]="fieldErrors?.has('court')"
                  [(ngModel)]="reservation.courts">
            @for (index of systemConfig.getCourtIndices(); track index) {
              <option [value]="index + 1">
                {{ systemConfig.getCourtName(index) }}
              </option>
            }
          </select>
          <tch-field-error [fieldErrors]="fieldErrors" field="court"/>
        </div>
      </div>
    </div>

    <!-- occupation type -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Typ:</label>
      <div class="col-sm-10">
        <select id="type"
                name="type"
                class="form-control"
                [(ngModel)]="type"
                [class.is-invalid]="fieldErrors?.has('type')"
                (ngModelChange)="onTypeSelected()">
          @for (reservationType of reservationTypes; track reservationType) {
            <option [value]="reservationType.type">
              {{ reservationType.name }}
            </option>
          }
        </select>
        <tch-field-error [fieldErrors]="fieldErrors" field="type"/>
      </div>
    </div>

    <!-- occupation text -->
    <div class="form-group mb-3">
      <label for="text" class="col-sm-2 form-label">Text:</label>
      <div class="col-sm-10">
        <input id="text"
               type="text"
               class="form-control"
               [class.is-invalid]="fieldErrors?.has('text')"
               [(ngModel)]="reservation.text"
               name="text"
               required/>
        <tch-field-error [fieldErrors]="fieldErrors" field="text"/>
      </div>
    </div>

    <!-- duration -->
    @if (!showSimpleDuration) {
      <div class="form-group mb-3">
        <label class="col-sm-2 control-label">Dauer:</label>
        <div class="row col-sm-10 align-items-center">
          <div class="col-4">
            <input type="text"
                   class="form-control"
                   [class.is-invalid]="fieldErrors?.has('duration')"
                   [(ngModel)]="reservation.duration"
                   name="duration"
                   size="1"/>
            <tch-field-error [fieldErrors]="fieldErrors" field="duration"/>
          </div>
          <div class="col-8">
            mal {{ systemConfig.durationUnitInMinutes }} Minuten
          </div>
        </div>
      </div>
    }

    <!-- simple duration as select list -->
    @if (showSimpleDuration) {
      <div class="form-group mb-3">
        <label class="col-sm-2 control-label">Dauer:</label>
        <div class="row col-sm-10">
          <div class="col-sm-12 radio">
            <label>
              <input type="radio"
                     name="duration"
                     (change)="onDurationChanged(2)"
                     checked/>
              Einzel (60 Minuten)
            </label>
          </div>
          <div class="col-sm-12 radio">
            <label>
              <input type="radio"
                     name="duration"
                     (change)="onDurationChanged(3)"/>
              Doppel (90 Minuten)
            </label>
          </div>
        </div>
      </div>
    }

    <!-- repeat with multiple occupations -->
    @if (showRepeat) {
      <div class="form-group mb-3">
        <label class="col-sm-2 control-label">Wiederholung</label>
        <div class="row col-sm-10">
          <div class="col-sm-6">
            <select id="repeat_type"
                    name="repeat_type"
                    class="form-control"
                    [(ngModel)]="reservation.repeatType"
                    (change)="onRepeatTypeChanged()">
              <option selected value="">keine</option>
              <option value="daily">täglich</option>
              <option value="weekly">wöchentlich</option>
            </select>
          </div>
          @if (reservation.repeatType === 'daily'
          || reservation.repeatType === 'weekly') {
            <div class="col-sm-4">
              <div style="display: flex">
                <label class="control-label">bis &nbsp;&nbsp;</label>
                <ngb-datepicker
                  [(ngModel)]="repeatUntil"
                  [minDate]="repeatMinDate"
                  [ngModelOptions]="{standalone: true}">
                  #d
                </ngb-datepicker>
              </div>
            </div>
            <div class="col-2">
              <button title="Reservierungen generieren"
                      (click)="onGenerateOccupations()"
                      class="btn btn-primary">
                +
              </button>
            </div>
          }
        </div>
        @for (occupation of reservation.occupations; track occupation; let i = $index) {
          <div class="row col-sm-10 mb-2 border-button">
            <div class="col">Reservierung am {{ toDate(occupation.date) }}</div>
            <div class="col">
              <button title="Diese Reservierung löschen"
                      class="btn btn-outline-tertiary"
                      (click)="onDeleteOccupation(i)">
                -
              </button>
            </div>
          </div>
        }
      </div>
    }

    <!-- error -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <tch-show-error
          [httpError]="httpError"
          [errorMessages]="errorMessages"
          [fieldErrors]="fieldErrors">
        </tch-show-error>
      </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button (click)="onClick()" class="btn btn-primary">
          Reservieren
        </button>
        <button (click)="onBack()" class="btn btn-outline-secondary ms-1">
          Zurück
        </button>
      </div>
    </div>
  </form>
</div>
