<div *ngIf="occupation" class="container">
  <form class="form-horizontal">
    <!-- title -->
    <div class="form-group mb-3">
      <h2 class="col-sm-offset-2 col-sm-10">Reservierung bearbeiten</h2>
    </div>

    <!-- Date and Time -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Zeit:</label>
      <div class="row col-sm-10">
        <div class="col-6">
          <input
            type="text"
            name="date"
            class="form-control"
            [value]="getDate()"
            size="8"
            readonly
          />
        </div>
        <div class="col-6">
          <select class="form-control" id="time" [(ngModel)]="time" name="time">
            <option *ngFor="let t of getTimes()" [value]="t">
              {{ showTime(t) }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- court -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Platz:</label>
      <div class="row col-sm-10">
        <div class="col-sm-4">
          <select
            class="form-control"
            id="court"
            [(ngModel)]="court"
            name="court"
          >
            <option
              *ngFor="let index of systemConfig.getCourtIndices()"
              [value]="index + 1"
            >
              {{ systemConfig.getCourtName(index) }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- occupation type -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Typ:</label>
      <div class="col-sm-10">
        <select id="type" name="type" class="form-control" [(ngModel)]="type">
          <option *ngFor="let reservationType of types" [value]="reservationType.type">
            {{ reservationType.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- occupation text -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Text:</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="occupation.text"
          name="text"
          required
        />
      </div>
    </div>

    <!-- duration -->
    <div class="form-group mb-3">
      <label class="col-sm-2 control-label">Dauer:</label>
      <div class="row col-sm-10 align-items-center">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="occupation.duration"
            name="duration"
            size="1"
          />
        </div>
        <div class="col-8">
          mal {{ systemConfig.durationUnitInMinutes }} Minuten
        </div>
      </div>
    </div>

    <!-- error -->
    <div class="form-group mb-3">
      <div class="col-sm-offset-2 col-sm-10">
        <tch-show-error
          [httpError]="httpError"
          [errorMessages]="errorMessages"
        ></tch-show-error>
      </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button *ngIf="canEdit()" (click)="onUpdate()" class="btn btn-primary">
          Speichern
        </button>
        <button
          *ngIf="canDelete()"
          (click)="onDelete()"
          class="btn btn-outline-secondary ms-1"
        >
          Löschen
        </button>
        <!-- not working yet
					<button *ngIf="canTerminate()" (click)='onTerminate()' class="btn btn-lg btn-block btn-outline-secondary">Platz
						freigeben</button>
				-->
        <button (click)="onBack()" class="btn btn-outline-secondary ms-1">Zurück</button>
      </div>
    </div>
  </form>
</div>
