<div class='container'>
	<h2>Reservierung löschen</h2>
	<form class="form-horizontal">

		<!-- Date and Time -->
		<div class='form-group'>
			<label for='date' class="col-sm-2 control-label">Zeit:</label>
			<div class="row col-sm-10">
				<div class="col-xs-6">
					<input type="text" class="form-control" [value]='occupation.start.toLocaleDateString()' readonly size='8'>
				</div>
				<div class="col-xs-6">
					<input type="text" class="form-control" [value]='occupation.start.toLocaleTimeString()' readonly size='8'>
				</div>
			</div>
		</div>

		<!-- court -->
		<div class='form-group'>
			<label class="col-sm-2 control-label">Platz:</label>
			<div class="row col-sm-10">
				<div class="col-xs-4">
					<input type="text" class="form-control" value='{{occupation.court}}' readonly size='1'>
				</div>
			</div>
		</div>

		<!-- occupation text -->
		<div class='form-group'>
			<label class="col-sm-2 control-label">Text:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" value='{{occupation.text}}' readonly size='30'>
			</div>
		</div>

		<!-- duration -->
		<div class='form-group'>
			<label class="col-sm-2 control-label">Dauer:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" value='{{occupation.duration}}' readonly size='2'>
			</div>
		</div>

		<!-- Buttons -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button (click)='onDelete()' class="btn btn-primary btn-block">Löschen</button>
				<button (click)='onBack()' class="btn btn-block">Zurück</button>
			</div>
		</div>
	</form>
</div>