<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Zeitpunkt</th>
			<th>Aktion</th>
			<th>Datentyp</th>
			<th>DatenId</th>
			<th>Benutzer</th>
			<th>Wert</th>
			<th>Alter Wert</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of protocols">
			<td>{{p.id}}</td>
			<td>{{this.date(p.time)}}</td>
			<td>{{p.actionType}}</td>
			<td>{{p.entityType}}</td>
			<td>{{p.entityId}}</td>
			<td>{{p.user.name}}</td>
			<td>
				<div *ngFor="let kv of parseJson(p.value) | keyvalue">
					<span class="key">{{kv.key}}</span> =
					<span class="value">{{kv.value}}</span>
				</div>
			</td>
			<td>
				<div *ngFor="let kv of parseJson(p.oldValue) | keyvalue">
					<span class="key">{{kv.key}}</span> = 
					<span class="value">{{kv.value}}</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<tch-show-error [httpError]="httpError" [errorMessages]="errorMessages"></tch-show-error>
<button class="btn btn-lg btn-primary" (click)="next()">Ältere</button>
<button class="btn btn-lg btn-outline-dark" (click)="cancel()">Zurück</button>