table.occupation_table {
	table-layout: fixed; /* all columns have equal width */
	width: 100%;
	border: 1px solid;
	border-collapse: separate;
	border-spacing: 10px;
	text-align: center;
	color: #000;
  background-color: #fcfefd;
}

/* all rows have equal height */
table.occupation_table td {
	height: 50px;
	overflow: hidden;
}

table.occupation_table th {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.available {
	background-color: #eee;
}

.available_light {
	background-color: #eee;
}

.available_reservable {
  background-color: #ccc;
}

.available_light_reservable {
  background-color: #ddd;
}

.type0 { /* Quickbuchung */
	background-color: #def;
}

.deletable {
  color: #000;
}

.type1 { /* Training */
	background-color: #edd;
}

.type2 { /* Meisterschaft */
	background-color: #ddf;
}

.type3 { /* Dauerbuchung */
	background-color: #eea;
}

