<div class="d-flex justify-content-end my-2">
  <a class="btn btn-outline-primary" routerLink="/systemconfig/add">Systemkonfiguration anlegen</a>
  <button class="btn btn-outline-secondary ms-1" (click)="cancel()">Zurück</button>
</div>
<table class="table table-bordered table-striped table-hover mt-1">
  <thead>
    <tr>
      <th class="d-none d-lg-table-cell">Id</th>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Titel</th>
      <th class="d-none d-sm-table-cell">Plätze</th>
      <th class="d-none d-sm-table-cell">Reservierungsarten</th>
      <th class="d-none d-sm-table-cell">Reservierung</th>
      <th class="d-none d-sm-table-cell">Öffnungszeit</th>
    </tr>
  </thead>
  <tbody>
    @for (config of systemconfigs; track config) {
      <tr>
        <td class="d-none d-lg-table-cell">{{ config.id }}</td>
        <td>{{ config.name }}</td>
        <td class="d-none d-lg-table-cell">{{ config.title }}</td>
        <td class="d-none d-sm-table-cell">
          @for (court of config.courts; track court) {
            <div>{{court}}</div>
          }
        </td>
        <td class="d-none d-sm-table-cell">
          @for (type of config.types; track type) {
            <div>
              {{type.type}} {{ type.name }}
            </div>
          }
        </td>
        <td class="d-none d-sm-table-cell">
          max {{ config.maxDuration }} x {{ config.durationUnitInMinutes }} Minuten;
          max {{ config.maxDaysReservationInFuture }} Tage im Voraus
        </td>
        <td class="d-none d-sm-table-cell">{{ config.openingHour }} - {{ config.closingHour }} Uhr</td>
        <td>
          <a class="btn btn-outline-secondary" routerLink="/systemconfig/modify/{{ config.id }}">ändern</a>
        </td>
      </tr>
    }
  </tbody>
</table>
<tch-show-error [httpError]="httpError" [errorMessages]="errorMessages" [fieldErrors]="fieldErrors"></tch-show-error>
