select {
  background-color: white;
}

table.occupation_table {
  table-layout: fixed; /* all columns have equal width */
  width: 100%;
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  color: #000;
  background-color: white;
}

/* all rows have equal height */
table.occupation_table td {
  height: 30px;
  overflow: hidden;
}

table.occupation_table th {
  text-align: center;
}

table.occupation_table a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.menu_link {
  color: black;
  text-decoration: none;
  padding-right: 0.3em;
}

.available {
  background-color: rgba(250, 250, 250, 0.7);
}

.available_light {
  background-color: rgba(250, 250, 250, 0.7);
}

.available_reservable {
  background-color: rgba(200, 200, 200, 0.5);
}

.available_light_reservable {
  background-color: rgba(200, 200, 200, 0.4);
}

.deletable {
  color: #000;
}

.type0 {
  /* Quickbuchung */
  background-color: rgba(50, 150, 255, 0.15);
}

.type1 {
  /* Training */
  background-color: rgba(0, 150, 00, 0.1);
}

.type2 {
  /* Meisterschaft */
  background-color: rgba(20, 100, 120, 0.15);
}

.type3 {
  /* Dauerbuchung */
  background-color: rgba(200, 200, 20, 0.1);
}

.type4 {
  /* Gesperrt */
  background-color: rgba(255, 0, 0, 0.2);
}
