<router-outlet></router-outlet>
<div class="row text-center"><h2>Reservierungen {{date.toLocaleDateString()}}</h2></div>
<div class="row text-center">
  <button (click)='onBackWeek()' title="Eine Woche zurück" class="btn"><<</button>
  <button (click)='onBackDay()' title="Einen Tag zurück" class="btn"><</button>
  <button (click)='onToday()' title="Heute" class="btn btn-primary">+</button>
  <button (click)='onNextDay()' title="Einen Tag vor" class="btn">></button>
  <button (click)='onNextWeek()' title="Eine Woche vor" class="btn">>></button>
</div>
<br/>
<table class="occupation_table">
	<thead>
		<tr>
			<th>Uhrzeit</th>
			<th *ngFor="let court of systemConfig.getCourtsArray()">Platz {{court}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of occupationTable.table">
			<ng-container *ngFor="let cell of row">

				<!-- first column with time data -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data && cell.data.time"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan">
					  {{cell.data.time}}
        </td>

				<!-- occupation entry with link to modify or delete occupation -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data && cell.data.text && canModify(cell.data)"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan"
            class="type{{cell.data.occupationType}} deletable">
					<a routerLink='/modify/{{systemConfig.id}}/{{user.id}}/{{cell.data.id}}'>
						{{cell.data.text}}
					</a>
				</td>

				<!-- occupation entry -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data && cell.data.text && !canModify(cell.data)"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan"
            class="type{{cell.data.occupationType}}">
					{{cell.data.text}}
        </td>

				<!-- available cell with link to add reservation -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data && cell.data.available && canAdd(cell.data.date)"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan"
            class="{{cell.data.css}}_reservable">
					<a routerLink='/add/{{systemConfig.id}}/{{user.id}}/{{cell.data.court}}/{{cell.data.date.getTime()}}'>
						<div style="height:100%;width:100%">&nbsp;&nbsp;&nbsp;</div>
					</a>
				</td>

				<!-- available cell without link to add reservation -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data && cell.data.available && !canAdd(cell.data.date)"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan"
            class="{{cell.data.css}}">
					<div style="height:100%;width:100%"></div>
				</td>

				<!-- no data? available cell without link -->
				<td *ngIf="cell.rowspan > 0 && cell.colspan > 0 && cell.data == undefined"
            [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan" class="available">
					  <div style="height:100%;width:100%"></div>
				</td>

			</ng-container>
		</tr>
	</tbody>
</table>
<div>{{error}}</div>
