<router-outlet></router-outlet>
<div class="d-flex flex-wrap justify-content-between mt-1">
  <div class="d-flex mb-1">
    @if (systemConfigs?.length ?? 0 > 1) {
      <div class="dropdown me-1">
        <button class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
          {{ occupationTable?.systemConfig?.title }}
        </button>
        <ul class="dropdown-menu">
          @for (config of systemConfigs; track config) {
            <li>
              <button class="dropdown-item" (click)="navigateTo(config.id)">
                {{ config.title }}
              </button>
            </li>
          }
        </ul>
      </div>
    }
    @if (systemConfigs?.length === 1) {
      <div class="h3 me-2">
        {{ systemConfigs[0].title }}
      </div>
    }

    @if (isLoggedIn()) {
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown">
          <img src="assets/svg/person-fill.svg" alt="Benutzer">
          <div class="d-none d-lg-inline ms-2">{{ occupationTable.user.name }}</div>
        </button>
        <ul class="dropdown-menu">
          <li>
            <div class="ms-2">
              <img src="assets/svg/person.svg" alt="Benutzer">
              {{ occupationTable.user.name }}
            </div>
          </li>
          @if (canLogout()) {
            <li>
              <a class="dropdown-item" routerLink="/login" [queryParams]="{logout:true}">
                Logout
              </a>
            </li>
          }
          @if (canChangePassword()) {
            <li>
              <a class="dropdown-item"
                 routerLink="/user/modify/{{ occupationTable.user.id }}">
                Kennwort ändern
              </a>
            </li>
          }
          @if (isAdminOrTrainer()) {
            <li>
              <a class="dropdown-item" routerLink="/admin">
                Administration
              </a>
            </li>
          }
          <li>
            <a class="dropdown-item" routerLink="/my-reservations">
              Meine Reservierungen
            </a>
          </li>
          <li>
            <tch-theme-toggle></tch-theme-toggle>
          </li>
        </ul>
      </div>
    } @else {
      <button (click)="onLogin()" class="btn btn-outline-secondary">
        Login
      </button>
    }
  </div>

  <div class="d-flex mb-1">
    <tch-news-link [loggedInUser]="occupationTable.user"></tch-news-link>
  </div>

  <div class="d-flex mb-1">
    <h3 class="m-1">
      <div class="d-none d-md-inline"> {{ showDate() }} &nbsp;</div>
      <div class="d-inline d-md-none"> {{ showDateShort() }} &nbsp;</div>
    </h3>

    <div>
      <button (click)="onBackWeek()" title="Eine Woche zurück" class="btn btn-space">
        &lt;&lt;
      </button>
      <button (click)="onBackDay()" title="Einen Tag zurück" class="btn btn-space">
        &lt;
      </button>
      <button (click)="onToday()" title="Heute" class="btn btn-primary btn-space">
        +
      </button>
      <button (click)="onNextDay()" title="Einen Tag vor" class="btn btn-space">
        &gt;
      </button>
      <button (click)="onNextWeek()" title="Eine Woche vor" class="btn btn-space">
        &gt;&gt;
      </button>
    </div>
  </div>
</div>

@if (occupationTable.systemConfig) {
  <table class="occupation_table">
    <thead>
    <tr>
      <th>Zeit</th>
      @for (index of occupationTable.systemConfig.getCourtIndices(); track index) {
        <th>
          {{ occupationTable.systemConfig.getCourtName(index) }}
        </th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of occupationTable.table; track $index) {
        <tr>
          @for (cell of row; track $index) {
            @if (cell.rowspan > 0 && cell.colspan > 0) {
              @if (cell.data) {
                <!-- first column with time data -->
                @if (cell.data.header) {
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="d-none d-sm-block">
                    {{ cell.data.header.time }}
                  </td>
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="d-block d-sm-none">
                    {{ cell.data.header.short_time }}
                  </td>
                }
                <!-- occupation entry with link to modify or delete occupation -->
                @if (cell.data.occupation && canModify(cell.data.occupation)) {
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="type{{ cell.data.occupation.type }}">
                    <a routerLink="/modify/{{ occupationTable.systemConfig.id }}/{{ cell.data.occupation.id }}">
                      <span>{{ cell.data.occupation.text }}</span>
                      <span class="d-none d-lg-inline">&nbsp;({{cell.data.occupation.reservation.user.name}})</span>
                    </a>
                  </td>
                }
                <!-- occupation entry -->
                @if (cell.data.occupation && !canModify(cell.data.occupation)) {
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="type{{ cell.data.occupation.type }}">
                    @if (canShowText(cell.data?.occupation)) {
                      <span>{{ cell.data.occupation.text }} BAA2</span>
                      <span class="d-none d-lg-inline">&nbsp;({{cell.data.occupation.reservation.user.name}})</span>
                    } @else {
                      <span>Reserviert</span>
                    }
                  </td>
                }
                <!-- available cell with link to add reservation -->
                @if (cell.data.available && canAdd(cell.data.available.date)) {
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="{{ cell.data.available.css }}_reservable">
                    <a
                      routerLink="/add/{{ occupationTable.systemConfig.id }}/{{ cell.data.available.court }}/{{ cell.data.available.date }}">&nbsp;
                    </a>
                  </td>
                }
                <!-- available cell without link to add reservation -->
                @if (cell.data.available && !canAdd(cell.data.available.date)) {
                  <td [attr.rowspan]="cell.rowspan"
                      [attr.colspan]="cell.colspan"
                      class="{{ cell.data.available.css }}"
                      style="height: 100%; width: 100%">
                  </td>
                }
              } @else {
                <!-- no data? available cell without link -->
                <td [attr.rowspan]="cell.rowspan"
                    [attr.colspan]="cell.colspan"
                    class="available">
                </td>
              }
            }
          }
        </tr>
      }
    </tbody>
  </table>
}

<tch-show-error
  [httpError]="httpError"
  [errorMessages]="errorMessages"
  [fieldErrors]="fieldErrors">
</tch-show-error>
